@{
    ViewBag.Title = "Đổi mật khẩu";
    var user = User.GetUserData();
}

<div class="box box-primary">
    <div class="box-body">
        <form action="~/Account/ChangePassword" method="post" class="form-horizontal">
            <input type="hidden" name="userName" value="@user.UserName" />

            <div class="form-group">
                <label for="oldPassword" class="col-sm-3 control-label">Mật khẩu cũ:</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="oldPassword" name="oldPassword" required autofocus>
                    @Html.ValidationMessage("oldPass", "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label for="newPassword" class="col-sm-3 control-label">Mật khẩu mới:</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="newPassword" name="newPassword" required>
                </div>
            </div>

            <div class="form-group">
                <label for="confirmPassword" class="col-sm-3 control-label">Xác nhận lại mật khẩu:</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
                    @Html.ValidationMessage("confirmPass", "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-primary btn-change-password">Đổi mật khẩu</button>
                    <a href="~/" class="btn btn-default btn-change-password">Bỏ qua</a>
                </div>
            </div>
            <style>
                .btn-change-password {
                    margin-top: 20px;
                }
            </style>

        </form>
    </div>
</div>